body{
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    height: 30px;
    width: 30px;
}

.intro-img{
    max-height: 350px;
    max-width: 600px;
    min-width: none;
    min-height: none ;
}

.section-1, .header-links, .header, .logo, .introduction, .text-intro{
    display: flex;
}

.header, .logo{
    align-items: center;
}

.section-1{
    flex-direction: column;
    background-color: #1F2937;
}

.header{
    justify-content: space-between;
    margin: 8px 300px;
    flex: 1;
}

.header-links{
    gap: 32px;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #e5e7eb;
    font-size: 18px;
}

a{
    text-decoration: none;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    width: 128px;
    height: 40px;
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.logo{
    gap: 32px;
    
}

.logo-text{
    color: #f9faf8;
    font-size: 18px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 300px;
    align-items: center;
    flex: 1;
}

.text-intro{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.title{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 50px;
}

.intro-img{
    flex: 1;
    align-self: stretch;
    border-radius: 8px;
}

.body-img{
    width: 220px;
    height: 150px;
    border-radius: 12px;
    border-color: #3882f6;
}

.body{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    flex: 1;
    margin-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 12px;
    
}

.text-body{
    text-align: center;
    width: 250px;
    padding: 8px;
}

.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.centering{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 128px 0px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 428px;
}

.author{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
    justify-content: end;
    padding: 12px 458px;
}